[submodule "asteriskd/src/main/native"]
	path = asteriskd/src/main/native
	url = https://github.com/Asterisk4Magisk/asteriskd.git
[submodule "bpfmatcher/src/main/native"]
	path = bpfmatcher/src/main/native
	url = https://github.com/Asterisk4Magisk/bpfmatcher.git
